@font-face { 
	font-family: 'Noah-Regular';
	src: url('Noah-Free/Noah-Regular.woff') format('woff');
}

@font-face {
	font-family: 'Noah-Bold';
	src: url('Noah-Free/Noah-Bold.woff') format('woff');
}

body {
	background-color: #17252A;
	display: block;
	font-family: 'Poppins', sans-serif;
	color: #feffff;
}

* {
	margin: auto;
}

#banner {
	background-image: url("images/bg.png");
	padding: 2.3em 0;
	border-bottom: 0.5em solid #f65c4b;
}

#banner h1 {
	font-family: Noah-Regular;
	font-weight: normal;
	font-style: normal;
	text-align: center;
	font-size: 3.6em;
}

#banner h2 {
	font-family: Noah-Regular;
	font-weight: normal;
	font-style: normal;
	text-align: center;
	font-size: 1.5em;
}

#banner img {
	margin-right: auto;
	margin-left: auto;
	display: block;
	padding-bottom: 1.7em;
}

.projects img {
	display: block;
	width: 52vw;
	height: 32.5vw;
	padding: 1.5em 0;
}

.description {
	width: 52%;
	text-align: left;
	font-size: 1.1em;
	line-height: 1.6em;
}

.viewProj {
	padding-top: 0.5em;
}

.viewProj a {
	color: #5AE4DD;
}

.viewProj a:hover {
	color: #85ece7;
}

.projHead {
	width: 52%;
	text-align: left;
	font-size: 1.8em;
	padding-top: 1em;
	border-top: 2px solid #feffff;
}

.first h2 {
	border-top: 0;
	margin-top: 0.5em;
}

.projects > div {
	margin-bottom: 4em;
}

.projects > div:last-child {
	margin-bottom: 4em;
}

iframe {
	display: block;
	width: 52vw;
	height: 32.5vw;
	padding: 1.5em 0;
}

a {
	text-decoration: none;
	color: #feffff;
}

.triborder {
	position: absolute;
	top: 0;
	right: 0;
	width: 0;
	height: 0;
	border: 3.6em solid #00eae1;
	border-left: 3.6em solid transparent;
	border-bottom: 3.6em solid transparent;
}

.triangle {
	position: absolute;
	top: 0;
	right: 0;
	width: 0;
	height: 0;
	border: 3.2em solid #17252a;
	border-left: 3.2em solid transparent;
	border-bottom: 3.2em solid transparent;
}

.trianglelink:hover .triangle {
	border: 3.2em solid black;
	border-left: 3.2em solid transparent;
	border-bottom: 3.2em solid transparent;}

.githubimg {
	position: absolute;
	top: 0.9em;
	right: 0.9em;
}

.footer {
	background-color: #feffff;
	color: #17252a;
	padding: 4em 0;
}

.footer h2 {
	width: 52%;
	text-align: left;
	font-size: 2em;
	margin: 0 auto 0.3em;
}

.contacth2 {
	padding-top: 0.7em;
}

.footer p {
	width: 52%;
	text-align: left;
}

#emaildiv {
	width: 100%;
  	text-align: center;
}

#emaildiv a {
	display: inline-block;
	margin: 0 auto;
	text-align: center;
	color: #17252a;
	background-color: #feffff;
	border: 1px solid #17252a;
	border-radius: 0.8em;
	padding: 0.7em 3.7em;
}

#emaildiv a:hover {
	background-color: #17252a;
	color: #feffff;
	cursor: pointer;
}

#emaildiv a:active {
	background-color: black;
	color: #feffff;
}

.contact {
	width: 52%;
	text-align: left;
}

.contact p {
	margin: 0;
}

#subject {
	width: 100%;
	border: 1px solid #17252a;
	border-radius: 0.5em;
	padding: 0.7em;
	margin: 0.5em 0 1.3em 0;
	font-size: 1em;
}

#message {
	width: 100%;
	height: 5em;
	border: 1px solid #17252a;
	border-radius: 0.5em;
	padding: 0.7em;
	margin: 0.5em 0 1.7em 0;
	font-size: 1em;
	resize: vertical;
	min-height: 2em;
	line-height: 1.3;
}
